/* Font-Family-Imaport */
@font-face {
  font-family: 'cal';
  src: url(./assets/fonts/CalSans-SemiBold.woff2);
}

@font-face {
  font-family: 'matter';
  src: url(./assets/fonts/Matter-Regular.woff);
}
/* =========================Font-Family==================== */
.ff-cal {
  font-family: 'cal';
}

.ff-matter {
  font-family: 'matter';
}
/*======================= selection-tag =======================*/
::selection {
  color: white;
  background: #000;
}
/* ============================header========================== */
.text-shadow-gray {
  text-shadow: 0 4px 0 #e1e1e1;
}
.text-shadow{
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: var(--text-border-width);
  -webkit-text-stroke-color: #000;
  --text-border-width: 2px;
}
.text-shadow-black{
  text-shadow: 0 4px 0 #141414;
}
.shadow-input-shrink:active{
  box-shadow: 0px 2px 0px #141414;
}
.shadow-fill{
  box-shadow: 0px 4px 0px #141414;
}